body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9cb09e;
}

/* Main box that holds the squares*/
#grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 700px;
    height: 700px;
    border: 2px solid #000000;
}

#btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

/* The style for every square */
.square {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f5f5dc;
}

#btn {
    margin-bottom: 20px;
    height: 40px;
    width: auto;
    font-size: 15px;
    background-color: #b7e4c7;
}

#reset-btn {
    background-color: #87ceeb;
    height: 30px;
    width: auto;
    font-size: 15px;
}

button:hover {
    color: #008000;
}

#eraser {
    background-color: #ffd1dc;
    height: 30px;
    width: auto;
    font-size: 15px;
}

